
html, body{
    overflow-x: none;
}

body{
    justify-content: center;
     background: linear-gradient(
    to right, 
    #eeefff 0%, 
    #eeefff 50%, 
    #fff 50%, 
    #fff 100%
     )
}

@media only screen and (max-width: 768px) {
    body {
        background: #FFF;
    }

    #homeLastChildContent{
        background: #FFF !important;
        margin-top: -10px !important;
    }
}


.customCSS{
    border: 1px solid #ccc;
    border-radius: 0.5pc;
    margin-top: 20px;
    display: inline-block;
    height: 150px;
    cursor: pointer;
}

.customCSS:hover h3, .customCSS:hover p{
    color: #007BFF;
}

.containerImg{
    height: 50px;
    width: 50px;
    margin-top: 25px;
}

.customCSS h3{

}

.customCSS p{
font-size: 16px !important;
}

@media only screen and (max-width: 768px) {

    .customCSS h3, .customCSS p, .containerImg{
        text-align: center;
        margin: auto;
        display: block;
    }

    .customCSS{
        height: 120px; /*Use % instead */
        width: 100%;
    }

    .containerImg{
        margin-top: 10px;
    }

}

#homeLastChildContent{
     margin-top: -48px;
     background: linear-gradient(
    to right, 
    #eeefff 0%, 
    #eeefff 10%, 
    #fff 10%, 
    #fff 100%
     )
}

.sidebarImg{
    margin-left: -200px;
}

.topAnchor{
    color: #90a4ae;
    text-decoration: none;
    cursor: pointer;
}

.sidebarAnchor{
    padding-left: 0px !important;
}

a:hover{
    background: transparent !important;
}

.sidebarUppercase{
    color: #AAA;
}

.tabParagraph{
    font-size: 12px !important;
}

.didYouFind{
    text-align: center;
	margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.5pc;
    padding-bottom: 10px;
}

.empty{
    height: 450px;
    width: 100%;
}
